h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}
.contact-details {
    background: white;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
}
font
{
    font-family: 'Times New Roman', Times, serif;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
body{
    background-color: rgb(156, 154, 154);
    color: black;
    font-size: 20px;
    
    
}
#center
{
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: black;
    margin: 50px auto;
    padding: 30px;
    color: white;

  


}
#photo
{
    width: 150x;
    height: 150px;
}
#objective
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;
}
#education
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;

}

#skills
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;

}

#projects
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;

}

#extracurriculars
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;
}

#certificates
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;
}

#personalinfo
{
    border: 2px solid white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    margin: 30px 10 10px;
}